{% extends 'appproyecto3pe/padre.html' %}

{% block titulo %} Pagina de Calidad | Formulario Asesores {% endblock titulo %}

{% block tituloprincipal %}
<header class="bg-dark py-5"> 
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10">
                <div class="text-center my-10">
                    <h1 class="display-5 fw-bolder text-white mb-2">Pagina principal de asesores a evaluar</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock tituloprincipal %}

{% block formularium %}
<section class="bg-light py-1">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Ingresar los datos solicitados</h2>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <form id="/asesor_formulario/" method="POST">
                    {% csrf_token %}
                    <!-- Nombre input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" name="nombre" placeholder="Enter your name..." data-sb-validations="required" data-sb-can-submit="no"/>
                        <label for="name">Nombre</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">Nombre es requerido.</div>
                    </div>
                    <!-- Apellido input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="lastname" type="text" name="apellido" placeholder="Enter your lastname..." data-sb-validations="required" />
                        <label for="lastname">Apellido</label>
                        <div class="invalid-feedback" data-sb-feedback="lastname:required">Apellido es requerido.</div>
                    </div>
                    <!-- Id Asesor input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="idasesor" type="text" name="id_asesor" placeholder="Enter your id..." data-sb-validations="required" />
                        <label for="idasesor">Id Asesor</label>
                        <div class="invalid-feedback" data-sb-feedback="idasesor:required">Identificacor de Asesor es requerido.</div>
                    </div>
                    <div class="d-grid"><input class="btn btn-primary" type="submit" value="Click para cargar"></div><p></p>
                    <div class="d-grid"><a class="btn btn-outline-primary" href="{% url 'asesores' %}">Volver</a></div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock formularium %} 