{% extends 'appproyecto3pe/padre.html' %}

{% block titulo %} Pagina de Calidad | Asesores {% endblock titulo %}

{% block tituloprincipal %}
<header class="bg-dark py-5"> 
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10">
                <div class="text-center my-10">
                    <h1 class="display-5 fw-bolder text-white mb-2">Pagina principal de asesores a evaluar</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock tituloprincipal %}

{% block sublinks %}   
<section class="bg-light py-1 border-bottom">
    <div class="container px-1 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Estamos buscando el id: {{id_asesor}}</h2>
        </div> 
        <div class="row gx-5 justify-content-center">
            <!-- Informacion asesores -->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="text-center mb-5">
                            {% if nombres %}
                            <ul>
                            {% for asesor in nombres %}
                                <li>
                                    Nombre: {{asesor.nombre}} {{asesor.apellido}} | Id: {{id_asesor}}
                                </li>
                            {% endfor %}
                            </ul>
                            {% else %}
                                <p class="lead mb-0">No se verifica asesores con el id ingresado</p><p></p>
                            {%endif%}
                        <div class="d-grid"><a class="btn btn-outline-primary" href="{% url 'BusquedaAsesor' %}">Volver</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>  
{% endblock sublinks %}
