{% extends 'appproyecto3pe/padre.html' %}

{% block titulo %} Pagina de Calidad | Evaluacion {% endblock titulo %}

{% block tituloprincipal %}
<header style="background-color: #9B9B9B;" class="py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10">
                <div class="text-center my-10">
                    <h1 class="display-5 fw-bolder text-black mb-2">Pagina principal de las evaluaciones a los asesores</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock tituloprincipal %}

{% block sublinks %}   
<section class="bg-light py-1 border-bottom">
    <div class="container px-1 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Ingrese el id de la evaluacion a buscar</h2>
        </div> 
        <div class="row gx-5 justify-content-center">
            <!-- Buscar asesores-->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <form action='buscarevalu/' method = "GET">
                            <div class="text-center mb-5">
                                <div class="form-floating mb-3">
                                    <input class="form-control" type="text" name="id_evaluacion" id="id_evaluacion" placeholder="Ingrese id de evaluacion..." data-sb-validations="required" data-sb-can-submit="no"/>
                                    <label for="id_evaluacion">Id de evaluacion</label>
                                    <div class="invalid-feedback" data-sb-feedback="id_evaluacion:required">Id de Evaluacion es requerido.</div>
                                </div>
                            </div>
                            <div class="d-grid"><input class="btn btn-primary" type="submit" value="Click para buscar"></div><p></p>
                            <div class="d-grid"><a class="btn btn-outline-primary" href="{% url 'evaluaciones' %}">Volver</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  
{% endblock sublinks %}
